{% extends "base.html" %}



<script>
{% block jquery %}

var price = $(".variation_select option:selected").attr("data-price")
    $("#price").text(price);

    $(".variation_select").change(function () {
        var price = $(".variation_select option:selected").attr("data-price")
        $("#price").text(price);

{#        var img = $(".variation_select option:selected").attr("data-img")#}
{#        $("img").attr("src", img);#}
    })

{% endblock %}
</script>





{% block content %}
    <div class="row">

        <div class='col-sm-8'>
            <h2>{{ object.title }}</h2>

            {% if object.productimage_set > 0 %}

                <div>
                    {% for img in object.productimage_set.all %}

                        <img id="img" class="img-responsive" src="{{ img.image.url }}"/>

                    {% endfor %}

                </div>

            {% endif %}
            <p class="lead">
                {{ object.description }}
            </p>
        </div>


        <!--product sidebar-->
        <div class='col-sm-4'>

            <h3 id="price">{{ object.price }}</h3>
            {% if object.variation_set.count > 1 %}
                <select class='form-control variation_select'>
                    {% for vari_object in object.variation_set.all %}
                        <option data-price="{{ vari_object.price }}" value="{{ vari_object }}">{{ vari_object }}</option>
                    {% endfor %}

                </select>

            {% else %}

            {% endif %}
            <br/>
            <a href="#">Add to Cart</a>
            <br/>
            <hr/>
            Share<br/>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
            </a>
            <a href="#">
            <i class="fa fa-twitter-square fa-3x"></i>
            </a>

            <hr/>
            <h4>Related products</h4>

        </div>

        <!-- End Product Sidebar -->


    </div>


{% endblock %}